@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<style>
    .meta-badge {
        width: fit-content;
        background: red;
        border-radius: 5px;
        padding: 6px;
        color: white;
        font-weight: bold;
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>
<h1 class="h2 mb-2 text-gray-800">COVID-19 Tracker</h1>
<small>Built with ASP.NET Core 3.1 and Bootstrap.</small>
<div class="meta-badge" style="background: #eaecf4!important;color:black!important">Data Last Updated on @Model.ViewModel.Stats.Meta.Last_Updated.ToString("dd MMMM, yyyy hh:mm:ss tt")</div>

<p></p>
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800" id="countryStateLabel">India</h1>
    <div class="input-group" style="width:230px!important">
        <input type="text" class="form-control float-right" id="selectedDate">
        <div class="input-group-append">
            <span class="input-group-text">
                <i class="far fa-calendar-alt"></i>
            </span>
        </div>
    </div>
</div>
<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Confirmed Cases</div>
                        <div class="meta-badge" style="background: #4e73df;display:flex;">
                            <span>+ </span>
                            <div id="confirmedDelta" class="Count">
                                @Model.ViewModel.Stats.Delta.Confirmed
                            </div>
                        </div>
                        <div id="confirmedTotal" class="h5 mb-0 font-weight-bold text-gray-800 Count">@Model.ViewModel.Stats.Total.Confirmed</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Tested Cases</div>
                        <div id="testedUpdatedDate" class="meta-badge" style="background:#1cc88a!important ">As of @Model.ViewModel.Stats.Meta.Tested.Last_Updated.ToString("dd MMMM, yyyy")</div>
                        <div id="testedTotal" class="h5 mb-0 font-weight-bold text-gray-800 Count">@Model.ViewModel.Stats.Total.Tested</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Recoveries</div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="meta-badge" style="background:#36b9cc!important;display:flex;">
                                    <span>+ </span>
                                    <div id="recoveredDelta" class="Count">
                                        @Model.ViewModel.Stats.Delta.Recovered
                                    </div>
                                </div>
                                <div id="recoveredTotal" class="h5 mb-0 mr-3 font-weight-bold text-gray-800 Count">@Model.ViewModel.Stats.Total.Recovered</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Deceased</div>
                        <div class="meta-badge" style="background:#e74a3b!important;display:flex;">
                            <span>+ </span>
                            <div id="deceasedDelta" class="Count">
                                @Model.ViewModel.Stats.Delta.Deceased
                            </div>
                        </div>
                        <div id="deceasedTotal" class="h5 mb-0 font-weight-bold text-gray-800 Count">@Model.ViewModel.Stats.Total.Deceased</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.ViewModel.Stats.Districts.Any())
{

    <div id="districtsTable">
        <div class="card border-left-primary shadow mb-4">
            <div class="card-body p-0">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>District</th>
                            <th>Confirmed</th>
                            <th>Recovered</th>
                            <th>Deceased</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var district in Model.ViewModel.Stats.Districts)
                        {
                            <tr>
                                <td>@district.Key</td>
                                <td>
                                    <div>
                                        @if (district.Value.Delta != null)
                                        {
                                            <div class="font-weight-bold" style="display:flex;font-size:12px;">
                                                <span>+ </span>
                                                <div id="deceasedDelta">
                                                    @district.Value.Delta.Confirmed
                                                </div>
                                            </div>
                                        }

                                        <div id="deceasedTotal" class="font-weight-bold text-gray-800 ">@district.Value.Total.Confirmed</div>
                                    </div>

                                </td>
                                <td>
                                    <div>
                                        @if (district.Value.Delta != null)
                                        {
                                            <div class="font-weight-bold" style="display:flex;font-size:12px;">
                                                <span>+ </span>
                                                <div id="deceasedDelta">
                                                    @district.Value.Delta.Recovered
                                                </div>
                                            </div>
                                        }

                                        <div id="deceasedTotal" class="font-weight-bold text-gray-800 ">@district.Value.Total.Recovered</div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        @if (district.Value.Delta != null)
                                        {
                                            <div class="font-weight-bold" style="display:flex;font-size:12px;">
                                                <span>+ </span>
                                                <div id="deceasedDelta">
                                                    @district.Value.Delta.Deceased
                                                </div>
                                            </div>
                                        }

                                        <div id="deceasedTotal" class="font-weight-bold text-gray-800 ">@district.Value.Total.Deceased</div>
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
}
<div class="row">

    <div class="col-xl-12">

        <!-- Area Chart -->
        <div class="card border-left-primary shadow mb-4">
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                </div>
                <hr>
            </div>
        </div>

    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        $('#selectedDate').daterangepicker({
            singleDatePicker: true,
            showDropdowns: false,
            timePicker: false,
            locale: {
                format: 'DD MMM, YYYY'
            },
            maxDate: new Date()
        });
    </script>
    <script src="~/js/dashboard.js"></script>
    <!-- Page level custom scripts -->
    <script src="~/js/demo/chart-area-demo.js"></script>

}

